@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import "container";

$header-color: #1b1c20;
$body-color: #383a47;
$text3-color: #797b89;
$text4-color: #c6c8d3;
$natural-color: #ffffff;
$background-1: #474958;
$background-2: #e8e9ed;
$background-3: #f8f8fa;
$primary1-color: #fb8e0b;
$primary2-color: #fd6003;

$media-desktop: "only screen and (max-width : 1290px)";
$media-tablet: "only screen and (max-width : 900px)";
$media-mobile-sm: "only screen and (max-width : 600px)";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  transition: 0.5s;
}

button:hover {
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

li {
  list-style-type: none;
}

@mixin btn($p) {
  background-color: $primary1-color;
  color: $natural-color;
  padding: $p;
  border-radius: 8px;
}

@mixin heading1($size: 3rem, $lineHeight: 56px, $color: $header-color) {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: 700;
  color: $color;
}

@mixin heading2($size: 28px, $lineHeight: 40px, $color: $header-color) {
  font-size: $size !important;
  line-height: $lineHeight !important;
  font-weight: 700;
  color: $color;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
}

header {
  padding-top: 21px;

  #toggler {
    display: none;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      column-gap: 20px;
    }

    .registration {
      button {
        @include btn(13px 20px);
        margin-left: 34px;
      }
    }
  }
}

#showcase {
  margin-top: 57px;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      h1 {
        @include heading1(50px, 60px);
      }

      .contentText {
        margin-top: 29px;
        font-size: 18px;
        line-height: 32px;
        color: $body-color;
        mix-blend-mode: normal;
        opacity: 0.8;
      }

      button {
        margin-top: 29px;
        @include btn(16px 23px);
        span {
          display: flex;
          align-items: center;
          gap: 9px;
        }
      }

      .ratings {
        margin-top: 109px;
        display: flex;
        align-items: center;

        .happyCustomers {
          display: flex;
          align-items: center;

          .inNumbers {
            padding: 0 28px 0 20px;
            span {
              @include heading1(30px, 42px);
            }
          }
          p {
            color: $body-color;
          }
        }

        .stars {
          border-left: 2px solid $header-color;
          padding-left: 30px;

          span {
            @include heading1(30px, 42px);
          }
        }
      }
    }
  }
}

#priorities {
  padding: 80px 0px 65px 0;
  .container {
    h1 {
      @include heading1(36px);
      text-align: center;
    }

    .priority {
      margin-top: 46px;
      display: flex;
      align-items: center;

      & > div {
        padding: 28px 27px 32px 30px;
        display: flex;

        .text {
          margin-left: 22px;

          h4 {
            @include heading1(21px, 33px);
          }

          p {
            margin-top: 12px;
            color: $body-color;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

#demos {
  padding: 105px 0;
  background: #f8f8fa;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
      margin-left: 128px;
      h1 {
        @include heading1();
      }
      p {
        margin-top: 43px;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: $body-color;
      }
      .bonus {
        margin-top: 26px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}

#about {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
      h1 {
        @include heading1();
      }

      p {
        color: $body-color;
        font-size: 16px;
        line-height: 26px;
        margin: 24px 0 40px 0;
      }

      button {
        @include btn(16px 21.5px);
      }
    }
  }
}

#orders {
  padding: 110px 0 128px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    margin-left: 244px;
    h1 {
      @include heading1();
    }

    p {
      margin-top: 22px;
      font-size: 16px;
      line-height: 26px;
      color: #383a47;
    }
  }
}

#blog {
  padding: 84px 0 104px 0;
  background: $primary1-color;
  background-image: url(./images/Shapes.png);
  background-repeat: no-repeat;

  h1 {
    text-align: center;
    @include heading1(48px, 58px, $natural-color);
  }

  .cards {
    margin-top: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 95px;

    .card {
      background: #fff;
      border-radius: 11.1111px;
      padding: 30px;

      h4 {
        text-align: center;
        @include heading1(20px, 28px, $primary2-color);
      }

      p {
        margin-top: 15px;
        font-size: 18px;
        line-height: 28px;
        color: $body-color;
      }
    }
  }
}

#contact {
  padding-top: 105px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      @include heading1();
      text-align: center;
    }

    button {
      margin-top: 36px;
      @include btn(14px 21px);
    }
  }
}

footer {
  margin-top: 129px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .copyright {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $text3-color;
      padding-top: 33px;
      padding-bottom: 40px;
      border-top: 1px solid #d4d4d8;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 67px;
      padding-bottom: 33px;

      a {
        color: $header-color;
        font-weight: 500;
        font-size: 17px;
        line-height: 30px;
      }
    }

    .social-links {
      display: flex;
      align-items: center;
      gap: 35px;
    }
  }
}

.togglerClass {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: $background-3;
  z-index: 1;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  font-size: larger;
  transition: 0.5s;
}

@media (max-width: 1290px) {
  header {
    #toggler {
      display: block;
      z-index: 999;
    }
    #TogglerCloseIcon {
      display: block;
    }

    ul {
      position: fixed;
      left: -100%;
 
    }

    .registration {
      display: none;
    }
  }

  #showcase .container {
    flex-direction: column;
    .mainImage img {
      width: 100%;
    }

    .content {
      .ratings {
        margin: 30px 0;
        align-items: start;
        flex-direction: column;

        .stars {
          padding-left: 0;
          padding-top: 20px;
          border-left: none;
        }
      }
    }
  }

  #priorities .priority {
    flex-direction: column;
  }

  #demos .container {
    flex-direction: column;

    img {
      width: 100%;
    }
  }

  #demos {
    .content {
      margin-left: 0 !important;
      h1 {
        @include heading2();
      }
    }
  }

  #about .container {
    flex-direction: column;
  }

  #orders .container {
    flex-direction: column;

    .content {
      margin-left: 0px;
    }
  }

  #blog .cards {
    flex-direction: column;
  }

  footer .container {
    flex-direction: column;
    gap: 30px;
  }

  h1 {
    font-size: 32px !important;
  }

  footer {
    .container {
      .copyright {
        flex-direction: column;
      }
      ul {
        gap: 20px;
      }

      .social-links {
        margin-bottom: 30px;
      }
    }
  }
}
